* {
  font-family: 'Pridi', serif;
}

body {
  padding: 0;
  margin: 0;
  background: #edf4f9;
}

main {
  margin: 0 auto 0 auto;
  width: 90%;
  min-width: 320px;
  min-height: calc(100vh - 282.5px);
}

a {
    color: inherit; 
    text-decoration: none;
}
