
#p-category{
    padding: 5px;
    margin: 10px;
    color: grey;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
 }

#textfield-buyAmount{
    padding: 0px;
    margin-top: 0px;
    height: 48px;
    width: 80px;
    text-align: center;
}

#textfield-buyAmount:hover{
    text-decoration-line: underline;
}

#paper-product-detail{
    width: 100%;
    height: 100%;
}

#span-seller-name{
    padding-top: 2px;
    padding-left: 3px;
    color: aqua;
    font-size: 16px;
}

#span-seller-rating{
    padding-left: 2px;
    color: grey;
    font-size: 13px;
}

#grid-product-description{
    background-color: #f8f8f8;
    padding: 16px;
    margin-top: 8px;
}

#grid-product-name-price{
    padding-left: 16px;
    padding-right: 16px;
}


.buy-button-element{
    height: 48px;
    width: 24px;
    outline: 5px;

}

.color-orange{
    color: orange;
}

.color-grey{
    color: grey;
}

.color-black{
    color: black;
}

.color-white {
    background-color: #ffffff;
}


